td {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
  text-align: center;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 1.8rem;
  margin: auto;
}
caption {
  padding: 10px;
  caption-side: bottom;
}

.table-item {
  background-color: #c4d7d1;
}

.light-hover {
  background-color: #5f9595;
}
